window {
    background-color: rgba(15, 15, 25, 0.96);
    color: #eeeeee
}

/* search entry */
entry {
    background-color: rgba (40, 40, 60, 0.75)
}

button,
image {
    background: none;
    border: none
}

button:hover,
button:focus {
    background-color: rgba (70, 70, 115, 0.25)
}

/* in case you wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 3px dashed rgba(70, 70, 115, 0.25)
}

#files-box {
    padding: 5px;
    border: 1px dotted gray;
    border-radius: 15px
}

/* math operation result label */
#math-label {
    font-weight: bold;
    font-size: 16px
}
