/* :root { */
/* 	--pbarBright: rgba(38, 139, 210, 0.8); */
/* 	--pbarLight: rgba(38, 139, 210, 0.4); */
/* } */

* {
	/* padding-top: 1px; */
	/* padding-bottom: 1px; */
	font-size: 28px;
	/* font-family: monospace; */
	font-family: Source Code Pro, Bold Italic;
	/* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
}

window#waybar {
	background-color: rgba(20, 20, 40, 0);
	color: #fdf6e3;
	/* border-bottom: 24px ridge rgba(255,255,255,.5); */
	/* border-bottom: 24px; */
	/* background-image: linear-gradient(to left, rgba(20, 20, 40, 1) 0%, rgba(0, 0, 0, 0) 70%); */
	/* background-image:
		linear-gradient(to left,
		 rgba(0, 0, 0, 0) 0%,
		 rgba(20, 22, 34, 0.98) 25%,
		 rgba(20, 22, 34, 0.98) 75%,
		 rgba(0, 0, 0, 0) 100%); */
	background-image:
		linear-gradient(to bottom,
			rgba(0, 0, 0, 0.95) 0%,
			rgba(0, 0, 0, 0.5) 10%,
			rgba(0, 0, 0, 0.75) 40%,
			rgba(0, 0, 0, 0.95) 50%,
			rgba(0, 0, 0, 0.75) 60%,
			rgba(0, 0, 0, 0.5) 90%,
			rgba(0, 0, 0, 0) 100%);
	transition-property: background-color;
	transition-duration: 0.5s;
}

/* window#waybar.bottom { */
/* 	background-image: linear-gradient(to top, rgba(20, 20, 40, 1) 0%, rgba(0, 0, 0, 0) 100%); */
/* } */

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	/* color: #1a1a1a; */
	color: #151525;
	font-size: 22px;
	font-family: monospace;
}

#custom-right-arrow-dark {
	padding-right: 6px;
	font-size: 22px;
	font-family: monospace;
}

#custom-left-arrow-dark {
	padding-left: 6px;
	font-size: 22px;
	font-family: monospace;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
	color: rgba(1, 1, 1, 1);
	/* background: #1a1a1a; */
	background: #151525;
	font-size: 22px;
	font-family: monospace;
}

#workspaces,
#pulseaudio,
#memory,
#cpu,
#clock,
/* #custom-playerctl, */
#battery,
#disk,
#custom-power,
#custom-menu,
#tray {
	/* background: #1a1a1a; */
	/* background: #151525; */
	background: transparent;
}

#custom-menu {
	/* font-family: monospace; */
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}

#workspaces button.focused {
	color: #268bd2;
}

#workspaces button:hover {
	background: rgba(255, 255, 255, 0.05);
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}

#pulseaudio:hover {
	color: #96d8f7;
}

#memory {
	color: #2ca671;
}

#memory:hover {
	color: #38d694;
}

#cpu {
	color: #6c71c4;
}

#cpu:hover {
	color: #abb1ff;
}

#battery {
	color: #859900;
}

#custom-playerctl {
	color: #1a7d98;
	border-bottom-left-radius: 25px;
	border-top-right-radius: 25px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	/* border-bottom-right-radius: 50px; */
	/* border-radius: 8px; */
	background-color: rgba(40, 40, 60, 0.5);
	border: 3px solid rgba(40, 40, 60, 0.5);
	margin-left: 5px;
}

#custom-playerctl:hover {
	color: #28c4ef;
}

#disk {
	color: #b58900;
}

#clock {
	color: #56d0cc;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#tray,
#battery,
#custom-power,
#custom-menu,
#disk {
	padding: 0 4px;
}

#tray {
	padding-right: 12px;
	-webkit-text-stroke: 12px;
}

/* rgba(15, 50, 75, 0.8); */
/* rgba(5, 15, 20, 0.8); */
/* rgba(10, 30, 50, 0.8); */
/* rgba(0, 0, 0, 0.8); */
/* rgba(10, 10, 20, 0.8); */

#custom-playerctl.0 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 0%,
			rgba(10, 30, 50, 0) 0.1%);
}

#custom-playerctl.1 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 1%,
			rgba(10, 30, 50, 0) 1.1%);
}

#custom-playerctl.2 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 2%,
			rgba(10, 30, 50, 0) 2.1%);
}

#custom-playerctl.3 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 3%,
			rgba(10, 30, 50, 0) 3.1%);
}

#custom-playerctl.4 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 4%,
			rgba(10, 30, 50, 0) 4.1%);
}

#custom-playerctl.5 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 5%,
			rgba(10, 30, 50, 0) 5.1%);
}

#custom-playerctl.6 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 6%,
			rgba(10, 30, 50, 0) 6.1%);
}

#custom-playerctl.7 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 7%,
			rgba(10, 30, 50, 0) 7.1%);
}

#custom-playerctl.8 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 8%,
			rgba(10, 30, 50, 0) 8.1%);
}

#custom-playerctl.9 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 9%,
			rgba(10, 30, 50, 0) 9.1%);
}

#custom-playerctl.10 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 10%,
			rgba(10, 30, 50, 0) 10.1%);
}

#custom-playerctl.11 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 11%,
			rgba(10, 30, 50, 0) 11.1%);
}

#custom-playerctl.12 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 12%,
			rgba(10, 30, 50, 0) 12.1%);
}

#custom-playerctl.13 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 13%,
			rgba(10, 30, 50, 0) 13.1%);
}

#custom-playerctl.14 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 14%,
			rgba(10, 30, 50, 0) 14.1%);
}

#custom-playerctl.15 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 15%,
			rgba(10, 30, 50, 0) 15.1%);
}

#custom-playerctl.16 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 16%,
			rgba(10, 30, 50, 0) 16.1%);
}

#custom-playerctl.17 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 17%,
			rgba(10, 30, 50, 0) 17.1%);
}

#custom-playerctl.18 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 18%,
			rgba(10, 30, 50, 0) 18.1%);
}

#custom-playerctl.19 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 19%,
			rgba(10, 30, 50, 0) 19.1%);
}

#custom-playerctl.20 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 20%,
			rgba(10, 30, 50, 0) 20.1%);
}

#custom-playerctl.21 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 21%,
			rgba(10, 30, 50, 0) 21.1%);
}

#custom-playerctl.22 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 22%,
			rgba(10, 30, 50, 0) 22.1%);
}

#custom-playerctl.23 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 23%,
			rgba(10, 30, 50, 0) 23.1%);
}

#custom-playerctl.24 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 24%,
			rgba(10, 30, 50, 0) 24.1%);
}

#custom-playerctl.25 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 25%,
			rgba(10, 30, 50, 0) 25.1%);
}

#custom-playerctl.26 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 26%,
			rgba(10, 30, 50, 0) 26.1%);
}

#custom-playerctl.27 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 27%,
			rgba(10, 30, 50, 0) 27.1%);
}

#custom-playerctl.28 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 28%,
			rgba(10, 30, 50, 0) 28.1%);
}

#custom-playerctl.29 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 29%,
			rgba(10, 30, 50, 0) 29.1%);
}

#custom-playerctl.30 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 30%,
			rgba(10, 30, 50, 0) 30.1%);
}

#custom-playerctl.31 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 31%,
			rgba(10, 30, 50, 0) 31.1%);
}

#custom-playerctl.32 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 32%,
			rgba(10, 30, 50, 0) 32.1%);
}

#custom-playerctl.33 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 33%,
			rgba(10, 30, 50, 0) 33.1%);
}

#custom-playerctl.34 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 34%,
			rgba(10, 30, 50, 0) 34.1%);
}

#custom-playerctl.35 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 35%,
			rgba(10, 30, 50, 0) 35.1%);
}

#custom-playerctl.36 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 36%,
			rgba(10, 30, 50, 0) 36.1%);
}

#custom-playerctl.37 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 37%,
			rgba(10, 30, 50, 0) 37.1%);
}

#custom-playerctl.38 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 38%,
			rgba(10, 30, 50, 0) 38.1%);
}

#custom-playerctl.39 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 39%,
			rgba(10, 30, 50, 0) 39.1%);
}

#custom-playerctl.40 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 40%,
			rgba(10, 30, 50, 0) 40.1%);
}

#custom-playerctl.41 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 41%,
			rgba(10, 30, 50, 0) 41.1%);
}

#custom-playerctl.42 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 42%,
			rgba(10, 30, 50, 0) 42.1%);
}

#custom-playerctl.43 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 43%,
			rgba(10, 30, 50, 0) 43.1%);
}

#custom-playerctl.44 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 44%,
			rgba(10, 30, 50, 0) 44.1%);
}

#custom-playerctl.45 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 45%,
			rgba(10, 30, 50, 0) 45.1%);
}

#custom-playerctl.46 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 46%,
			rgba(10, 30, 50, 0) 46.1%);
}

#custom-playerctl.47 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 47%,
			rgba(10, 30, 50, 0) 47.1%);
}

#custom-playerctl.48 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 48%,
			rgba(10, 30, 50, 0) 48.1%);
}

#custom-playerctl.49 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 49%,
			rgba(10, 30, 50, 0) 49.1%);
}

#custom-playerctl.50 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 50%,
			rgba(10, 30, 50, 0) 50.1%);
}

#custom-playerctl.51 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 51%,
			rgba(10, 30, 50, 0) 51.1%);
}

#custom-playerctl.52 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 52%,
			rgba(10, 30, 50, 0) 52.1%);
}

#custom-playerctl.53 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 53%,
			rgba(10, 30, 50, 0) 53.1%);
}

#custom-playerctl.54 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 54%,
			rgba(10, 30, 50, 0) 54.1%);
}

#custom-playerctl.55 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 55%,
			rgba(10, 30, 50, 0) 55.1%);
}

#custom-playerctl.56 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 56%,
			rgba(10, 30, 50, 0) 56.1%);
}

#custom-playerctl.57 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 57%,
			rgba(10, 30, 50, 0) 57.1%);
}

#custom-playerctl.58 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 58%,
			rgba(10, 30, 50, 0) 58.1%);
}

#custom-playerctl.59 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 59%,
			rgba(10, 30, 50, 0) 59.1%);
}

#custom-playerctl.60 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 60%,
			rgba(10, 30, 50, 0) 60.1%);
}

#custom-playerctl.61 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 61%,
			rgba(10, 30, 50, 0) 61.1%);
}

#custom-playerctl.62 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 62%,
			rgba(10, 30, 50, 0) 62.1%);
}

#custom-playerctl.63 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 63%,
			rgba(10, 30, 50, 0) 63.1%);
}

#custom-playerctl.64 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 64%,
			rgba(10, 30, 50, 0) 64.1%);
}

#custom-playerctl.65 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 65%,
			rgba(10, 30, 50, 0) 65.1%);
}

#custom-playerctl.66 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 66%,
			rgba(10, 30, 50, 0) 66.1%);
}

#custom-playerctl.67 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 67%,
			rgba(10, 30, 50, 0) 67.1%);
}

#custom-playerctl.68 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 68%,
			rgba(10, 30, 50, 0) 68.1%);
}

#custom-playerctl.69 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 69%,
			rgba(10, 30, 50, 0) 69.1%);
}

#custom-playerctl.70 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 70%,
			rgba(10, 30, 50, 0) 70.1%);
}

#custom-playerctl.71 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 71%,
			rgba(10, 30, 50, 0) 71.1%);
}

#custom-playerctl.72 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 72%,
			rgba(10, 30, 50, 0) 72.1%);
}

#custom-playerctl.73 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 73%,
			rgba(10, 30, 50, 0) 73.1%);
}

#custom-playerctl.74 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 74%,
			rgba(10, 30, 50, 0) 74.1%);
}

#custom-playerctl.75 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 75%,
			rgba(10, 30, 50, 0) 75.1%);
}

#custom-playerctl.76 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 76%,
			rgba(10, 30, 50, 0) 76.1%);
}

#custom-playerctl.77 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 77%,
			rgba(10, 30, 50, 0) 77.1%);
}

#custom-playerctl.78 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 78%,
			rgba(10, 30, 50, 0) 78.1%);
}

#custom-playerctl.79 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 79%,
			rgba(10, 30, 50, 0) 79.1%);
}

#custom-playerctl.80 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 80%,
			rgba(10, 30, 50, 0) 80.1%);
}

#custom-playerctl.81 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 81%,
			rgba(10, 30, 50, 0) 81.1%);
}

#custom-playerctl.82 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 82%,
			rgba(10, 30, 50, 0) 82.1%);
}

#custom-playerctl.83 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 83%,
			rgba(10, 30, 50, 0) 83.1%);
}

#custom-playerctl.84 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 84%,
			rgba(10, 30, 50, 0) 84.1%);
}

#custom-playerctl.85 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 85%,
			rgba(10, 30, 50, 0) 85.1%);
}

#custom-playerctl.86 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 86%,
			rgba(10, 30, 50, 0) 86.1%);
}

#custom-playerctl.87 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 87%,
			rgba(10, 30, 50, 0) 87.1%);
}

#custom-playerctl.88 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 88%,
			rgba(10, 30, 50, 0) 88.1%);
}

#custom-playerctl.89 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 89%,
			rgba(10, 30, 50, 0) 89.1%);
}

#custom-playerctl.90 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 90%,
			rgba(10, 30, 50, 0) 90.1%);
}

#custom-playerctl.91 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 91%,
			rgba(10, 30, 50, 0) 91.1%);
}

#custom-playerctl.92 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 92%,
			rgba(10, 30, 50, 0) 92.1%);
}

#custom-playerctl.93 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 93%,
			rgba(10, 30, 50, 0) 93.1%);
}

#custom-playerctl.94 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 94%,
			rgba(10, 30, 50, 0) 94.1%);
}

#custom-playerctl.95 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 95%,
			rgba(10, 30, 50, 0) 95.1%);
}

#custom-playerctl.96 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 96%,
			rgba(10, 30, 50, 0) 96.1%);
}

#custom-playerctl.97 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 97%,
			rgba(10, 30, 50, 0) 97.1%);
}

#custom-playerctl.98 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 98%,
			rgba(10, 30, 50, 0) 98.1%);
}

#custom-playerctl.99 {
	/*background: rgba(181,137,  0, 0.8);*/
	background-image: linear-gradient(to right,
			rgba(10, 10, 20, 0.8) 99%,
			rgba(10, 30, 50, 0) 99.1%);
}
